body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Numbers input {
    color: rgb(186, 165, 0);
    text-align: center;
    font-size: 20px;
    border: 5px solid rgb(28, 108, 64);
    padding: 10px;
}
.Operacion{
    width: 100px;
    height: 30px;
    margin: 20px;
    border: 5px solid rgb(17, 54, 20);
    border-radius: 10px;
    color: rgb(56, 155, 41);
    text-align: center;
}

h2{
    font-size: 35px;
    font-weight: bold;
}

.Calcular {
  margin-top: 28px;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(51, 208, 72);
  border-radius: 15px;
}